/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

// layers
#define DEFAULT 0
#define MAGIC 1
#define BLUE 2
#define GREEN 3
#define BRONCE 4
#define ROSE 5

/ {
    macros {
        bt_0: bt_profile_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp F2        &kp F5        &kp F10       &kp F11       &kp F12                                                                                                                       &kp PSCRN     &kp K_CALC    &kp C_MUTE    &kp C_VOL_UP  &kp C_VOL_DN
            &none         &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                                                                                            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &none       
            &none         &kp Q         &kp W         &kp E         &kp R         &kp T                                                                                             &kp Z         &kp U         &kp I         &kp O         &kp P         &none       
            &none         &kp A         &kp S         &kp D         &kp F         &kp G                                                                                             &kp H         &kp J         &kp K         &kp L         &kp RA(Y)     &none       
            &none         &kp LSHIFT    &kp X         &kp C         &kp V         &kp B         &kp BSPC      &kp ESC       &kp LALT      &mo ROSE      &mo BRONCE    &kp TAB       &kp N         &kp M         &kp Y         &kp RA(P)     &kp RA(Q)     &none       
            &mo MAGIC     &none         &none         &kp DEL       &kp ENTER                   &kp SPACE     &kp LCTRL     &kp LMETA     &mo GREEN     &mo BLUE      &kp LSHIFT                  &kp HOME      &kp END       &none         &none         &mo MAGIC       
            >;
        };

        magic_layer {
            bindings = <
            &bt BT_CLR        &none               &none           &none           &none                                                                                                           &none      &none      &none      &none      &none
            &none             &none               &none           &none           &none           &none                                                                                &none      &none      &none      &none      &none      &none
            &none             &rgb_ug RGB_SPI     &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI &rgb_ug RGB_TOG                                                                      &none      &none      &none      &none      &none      &none
            &bootloader       &rgb_ug RGB_SPD     &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_EFF                                                                      &none      &none      &none      &none      &none      &bootloader
            &sys_reset        &none               &none           &none           &none           &none           &bt_2     &bt_3     &none            &none     &none     &none       &none      &none      &none      &none      &none      &sys_reset
            &none             &none               &none           &none           &none                           &bt_0     &bt_1     &out OUT_USB     &none     &none     &none                  &none      &none      &none      &none      &none
            >;
        };

        blue_layer {
            bindings = <
            &none         &none         &none         &none         &none                                                                                                                         &none         &none         &none         &none         &none       
            &none         &none         &none         &none         &none         &none                                                                                             &none         &none         &none         &none         &none         &none       
            &none         &none         &kp LS(MINUS) &kp LS(SEMI)  &kp SEMI      &none                                                                                             &none         &kp COMMA     &kp DOT       &kp MINUS     &none         &none       
            &none         &none         &kp BSLH      &kp LBKT      &kp LS(N9)    &none                                                                                             &none         &kp LS(N0)    &kp RBKT      &kp LS(N5)    &none         &none       
            &none         &trans        &kp LS(N1)    &kp LS(COMMA) &kp LS(LBKT)  &none         &trans        &trans        &trans        &trans        &trans        &trans        &none         &kp LS(RBKT)  &kp LS(DOT)   &kp LS(FSLH)  &none         &none       
            &trans        &trans        &trans        &trans        &trans                      &trans        &trans        &trans        &trans        &trans        &trans                      &trans        &trans        &trans        &trans        &trans      
            >;
        };

        green_layer {
            bindings = <
            &none         &none         &none         &none         &none                                                                                                                         &none         &none         &none         &none         &none       
            &none         &none         &none         &none         &none         &none                                                                                             &none         &none         &none         &none         &none         &none       
            &none         &none         &kp GRAVE     &kp APOS      &kp LS(APOS)  &none                                                                                             &none         &kp LS(EQUAL) &kp LS(N8)    &none         &none         &none       
            &none         &none         &kp RA(LS(S)) &kp LS(N2)    &kp LS(N4)    &none                                                                                             &none         &kp LS(N3)    &kp EQUAL     &none         &none         &none       
            &none         &trans        &none         &kp TILDE     &kp FSLH      &none         &trans        &trans        &trans        &trans        &trans        &trans        &none         &kp LS(N7)    &kp LS(BSLH)  &none         &none         &none       
            &trans        &trans        &trans        &trans        &trans                      &trans        &trans        &trans        &trans        &trans        &trans                      &trans        &trans        &trans        &trans        &trans      
            >;
        };

        bronce_layer {
            bindings = <
            &none         &none         &none         &none         &none                                                                                                                         &none         &none         &none         &none         &none       
            &none         &none         &none         &none         &none         &none                                                                                             &none         &none         &none         &none         &none         &none       
            &none         &none         &none         &none         &kp RA(R)     &kp RA(LS(R))                                                                                     &none         &kp PG_UP     &kp UP        &kp PG_DN     &none         &none       
            &none         &none         &none         &none         &none         &none                                                                                             &none         &kp LEFT      &kp DOWN      &kp RIGHT     &none         &none       
            &none         &trans        &none         &kp RA(C)     &none         &none         &trans        &trans        &trans        &trans        &trans        &trans        &none         &none         &none         &none         &none         &none       
            &trans        &trans        &trans        &trans        &trans                      &trans        &trans        &trans        &trans        &trans        &trans                      &trans        &trans        &trans        &trans        &trans      
            >;
        };

        rose_layer {
            bindings = <
            &none         &none         &none         &none         &none                                                                                                                         &none         &none         &none         &none         &none       
            &none         &none         &none         &none         &none         &none                                                                                             &none         &none         &none         &none         &none         &none       
            &none         &none         &none         &none         &none         &none                                                                                             &none         &none         &none         &none         &none         &none       
            &none         &none         &none         &none         &none         &none                                                                                             &none         &none         &none         &none         &none         &none       
            &none         &trans        &none         &none         &none         &none         &trans        &trans        &trans        &trans        &trans        &trans        &none         &none         &none         &none         &none         &none       
            &trans        &trans        &trans        &trans        &trans                      &trans        &trans        &trans        &trans        &trans        &trans                      &trans        &trans        &trans        &trans        &trans      
            >;
        };
    };
};
